* {
    scroll-behavior: smooth;
}
body {
    background-color: rgb(165, 189, 189);
    h1 {
        text-align: center;
    }
}
.charactersList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 80vw;
    margin: 0 auto;
    .item {
        text-align: center;
        display: flex;
        flex-direction: column;
        text-decoration: none;
        color: black;
        img {
            background-color: black;
            width: 15.166vw;
        }
        h3 {
            width: 15.166vw;
        }
        &:hover {
            background-color: rgb(209, 209, 209);
        }
    }
}
.infoLocationContainer {
    display: flex;
    flex-direction: column;
}
.paginationContainer {
    text-align: center;
    button {
        background-color: red;
        border: 1px solid black;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        cursor: pointer;
    }
}
.itemDetail {
    margin: 0 auto;
    width: 400px;
    display: flex;
    flex-direction: column;
}
.spanLocation {
    cursor: pointer;
    color: red;
}
.loader {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}